{% extends 'base.html.twig' %}

{% block title %}Votre commande{% endblock %}

{% block body %}
<link href="{{ asset('styles/panier.css') }}" rel="stylesheet" type="text/css"/>

<div class="panier-container">

    
    <h2>Récapitulatif de votre commande</h2>

    <div class="panier-card">



        <table>

            <thead>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Prix</th>
                
            </thead>
            
            <tbody id="panierFinal"></tbody>


            <tfoot>
                <tr>
                    <td></td>
                    <td>Total</td>
                    <td id="totalPanier"></td>
                </tr>
            </tfoot>

        </table>
        

        <h2>Méthode de paiment</h2>
        <div class="payment-methods">
            <div class="payment-option">
                <input type="radio" id="carte" name="payment" value="carte" checked>
                <label for="carte">Carte bancaire</label>
            </div>
            <div class="payment-option">
                <input type="radio" id="paypal" name="payment" value="paypal">
                <label for="paypal">PayPal</label>
            </div>
            <div class="payment-option">
                <input type="radio" id="applepay" name="payment" value="applepay">
                <label for="applepay">Apple Pay</label>
            </div>

            <br>

        <h2>Mode de livraison</h2>
        <div class="mode-livraison">
            <div class="livraison-option">
                <input type="radio" id="domicile" name="livraison" value="domicile" checked>
                <label for="domicile">Livraison à domicile</label>
            </div>
            <div class="livraison-option">
                <input type="radio" id="point_relais" name="livraison" value="point_relais">
                <label for="point_relais">Livraison en point relais</label>
            </div>
            <div class="livraison-option">
                <input type="radio" id="express" name="livraison" value="express">
                <label for="express">Livraison express</label>
            </div>
            <div class="livraison-option">
                <input type="radio" id="rdv" name="livraison" value="rdv">
                <label for="rdv">Livraison sur rendez-vous</label>
            </div>
            <div class="livraison-option">
                <input type="radio" id="clik_collect" name="livraison" value="click_collect">
                <label for="clik_collect">Retrait en magasin (click and collect)</label>
            </div>

            <br>

    <button  class="btn-gradient" onclick="sendPanier()">Commande payée</button>
    

        

</div>

<script src="{{asset('javascripts/lsPanier.js')}}"></script>
<script src="{{asset('javascripts/command_client.js')}}" defer></script>

{% endblock %}
