{% extends 'base.html.twig' %}

{% block title %}Votre commande{% endblock %}

{% block body %}
<link href="{{ asset('styles/panier.css') }}" rel="stylesheet" type="text/css"/>

<div class="panier-container">

    
    <h2>Récapitulatif de votre commande</h2>

    <div class="panier-card">



        <table>

            <thead>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Prix</th>
                
            </thead>
            
            <tbody id="panierFinal"></tbody>


            <tfoot>
                <tr>
                    <td></td>
                    <td>Total</td>
                    <td id="totalPanier"></td>
                </tr>
            </tfoot>

        </table>
        

        <h2>Méthode de paiment</h2>
        <div class="payment-methods">
            <div class="payment-option">
                <input type="radio" id="carte" name="payment" value="carte" checked>
                <label for="carte">Carte bancaire</label>
            </div>
            <div class="payment-option">
                <input type="radio" id="paypal" name="payment" value="paypal">
                <label for="paypal">PayPal</label>
            </div>
            <div class="payment-option">
                <input type="radio" id="applepay" name="payment" value="applepay">
                <label for="applepay">Apple Pay</label>
            </div>

            <br>






    <a href="{{path('app_commande_client_payee')}}" class="btn-gradient" onclick="sendPanier()">Commande payée</a>

        

</div>

<script src="{{asset('javascripts/lsPanier.js')}}"></script>
<script src="{{asset('javascripts/command_client.js')}}" defer></script>

{% endblock %}
